thead {
    color: #337AB7
}
div.listPadding {
  padding-top: 10px;
  padding-right: 80px;
  padding-bottom: 20px;
  padding-left: 80px;
}

.k-hierarchy-cell .k-plus::before {
  content: "\\f149";
  font-family: FontAwesome;
}

.k-hierarchy-cell .k-minus::before {
  content: "\\f148";
  font-family: FontAwesome;
}

li {width: 500px}